/* Nuotraukos */
img {
    max-width: 100%;
    height: auto;
}
.galerija {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    padding-right: 1em;
    border: 1px solid black;
    background-color: #ffffff79;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-sizing: border-box;
}
.galerija img {
    width: 100%; 
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}
.left-column {
    flex: 3;
    
}
@media (max-width: 768px) {
    aside {
        display: flex;
    }
}